.sticky_social_share .social_icons {
    display: inline-block;
    position: fixed;
    z-index: 9999;
}

.sticky_social_share .social_top {
    top: 0px;
    right: 100px;
}

.sticky_social_share .social_right {
    right: 0px;
    top: 100px;
}

.sticky_social_share .social_bottom {
    bottom: 0px;
    right: 100px;
}

.sticky_social_share .social_left {
    left: 0px;
    top: 100px;
}

.icon_bg {
    display: block;
    padding: 3px;
}

@media screen and (max-width: 414px),
screen and (min-width: 568px) and (max-width: 767px),
screen and (min-width: 768px) and (max-width: 1024px) {
    .sticky_social_share .social_top,
    .sticky_social_share .social_right,
    .sticky_social_share .social_bottom,
    .sticky_social_share .social_left {
        width: 100%;
        display: inline-block;
        position: fixed;
        z-index: 9999;
        bottom: 0px;
        top: initial;
        right: initial;
        left: 0px;
    }
    .sticky_social_share a.grow,
    .sticky_social_share a.shrink,
    .sticky_social_share a.black-white,
    .sticky_social_share a.white-black,
    .sticky_social_share a.rotate {
        width: 100%;
    }
    .sticky_social_share a {
        width: 100%;
        float: left;
    }
    footer {
        margin-bottom: 25px;
    }
}