{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{# Set main class and sub class based on values #}

{% if social_values.icons == '1' %}
  {% set main_class = 'social_top' %}
{% elseif social_values.icons == '2' %}
  {% set main_class = 'social_right' %}
{% elseif social_values.icons == '3' %}
  {% set main_class = 'social_bottom' %}
{% elseif social_values.icons == '4' %}
  {% set main_class = 'social_left' %}
{% endif %}

<div class="sticky_social_share">
	<div class="social_icons {{ main_class }}">
	{% if social_values.whatsapp is not empty %}
		<a title="Whatsapp" class="icon_bg" 
			href="https://plus.google.com/share?url={{ url('<current>') }}" target="_blank"> 
			<img alt="Whatsapp" src="{{ social_icons.whatsapp_icon }}">
		</a>
	{% endif %}

	{% if social_values.facebook is not empty %}
		<a title="Facebook" class="icon_bg" href="https://www.facebook.com/share.php?u={{ url('<current>') }}&title={{ page_title }}" target="_blank">
			<img alt="Facebook" src="{{ social_icons.facebook_icon }}">
		</a>
	{% endif %}
    
	{% if social_values.twitter is not empty %}
		<a title="Twitter" class="icon_bg" 
		href="https://twitter.com/intent/tweet?url={{ url('<current>') }}&status={{ page_title }}+{{ url('<current>') }}" target="_blank">
		<img alt="Twitter" src="{{ social_icons.twitter_icon }}">
		</a>
	{% endif %}
		
  	{% if social_values.linkedIn is not empty %}
		<a title="LinkedIn" class="icon_bg"
			href="http://www.linkedin.com/shareArticle?mini=true&url={{ url('<current>') }}
			&title={{ page_title }}&source={{ url('<current>') }}" target="_blank">
		<img alt="LinkedIn" src="{{ social_icons.linkedIn_icon }}">
		</a>
	{% endif %}

	{% if social_values.google_plus is not empty %}
		<a title="Google Plus" class="icon_bg" 
			href="https://plus.google.com/share?url={{ url('<current>') }}" target="_blank">
			<img alt="Google Plus" src="{{ social_icons.google_plus_icon }}">
		</a>
	{% endif %}

	{% if social_values.pinterest is not empty %}
		<a title="Pinterest" class="icon_bg" 
			href="https://www.pinterest.com/pin/create/button/?url={{ url('<current>') }}&description={{ page_title }}" target="_blank">
			<img alt="Pinterest" src="{{ social_icons.pinterest_icon }}">
		</a>
	{% endif %}

	{% if social_values.instagram is not empty %}
		<a title="Instagram" class="icon_bg" 
			href="https://www.pinterest.com/pin/create/button/?url={{ url('<current>') }}&description={{ page_title }}" target="_blank">
			<img alt="Pinterest" src="{{ social_icons.instagram_icon }}">
		</a>
	{% endif %}

	{% if social_values.mail is not empty %}
		<a title="Mail" class="icon_bg" href="mailto:{{ social_values.mail }}" target="_blank">
			<img alt="Mail" src="{{ social_icons.mail_icon }}">
		</a>
	{% endif %}

	</div>
</div>
